.home{
  position: relative;
  width: 100%;
  height: 616px;
  background: url("../img/BG_header.png") center;
  background-size: cover;
  text-align: center;
  @extend %fontMontserrat;
  padding: 37px 0 0 0 ;
  margin-bottom: 115px;

  &__title{
    color: white;
    font-weight: 700;
    font-size: 82px;
    line-height: 82px;
  }

  &__slogan{
    @extend %fontLato;
    font-size: 30px;
    font-weight: 400;
    color: $mainColor;
    line-height: 30px;
    padding-top: 11px;
  }

  &__text{
    margin-top: 19px;
    @extend %fontMontserrat;
    font-size: 16px;
    color: #848e97;
    line-height: 16px;
  }

  &__button{
    position: absolute;
    @extend %fontMontserrat;
    font-size: 18px;
    font-weight: bold;
    width: 390px;
    height: 62px;
    bottom: 0;
    transform: translate(-50%, 50%);
    justify-self: center;
    border-radius: 40px;
    border: 2px solid #8d81ac;
    outline: none;
    transition: color 0.3s linear;
    color: #fff;
    background-color: #8d81ac;
    cursor: pointer;
    &:hover{
      background-color: white;
      color: #8d81ac;
    }
    &:after{
      position:absolute ;
      content: "Unlimited 30-Days Trial Period";
      @extend %fontMontserrat;
      font-size: 14px;
      font-weight: 400;
      color: #848e97;
      top: 125%;
      left: 50%;
      transform: translate(-50%, 0);
      white-space: nowrap;
    }
  }
}