.people {
  position: relative;
  width: 100%;
  background: url("../img/testmonials-bg1.png") no-repeat;
  background-size: cover;
  margin: auto;


  &__grid {
    display: flex;
    gap: 45px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 53px;
    padding: 0 25px 0 25px;

    @media(min-width: 480px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      padding: 0 10px 0 10px;
      column-gap: 10px;
      row-gap: 55px;
    }

    @media(min-width: 600px) {
      column-gap: 60px;

    }@media(min-width: 768px) {
    column-gap: 80px;

    }@media(min-width: 900px) {
    column-gap: 150px;
    }

    @media(min-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 38px;
    }
  }

  &__slogan{
    padding-top: 57px;
    @extend %fontMontserrat;
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: #ffffff;
  }

  &__text{
    @extend %fontLato;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #A291A5;
    margin-top: 69px;
  }

  &__line{
    display: block;
    width: 245px;
    height: 2px;
    background-color: #645766;
    margin: 22px auto;
      @media (min-width: 480px){
        width: 100vw;
        max-width: 780px;
        margin: 20px auto 0;
      }
  }
}

.card{
  min-width: 270px;
  max-width: 320px;

  @media(min-width: 480px){
    min-width: 225px;
    max-width: 270px;
  }
  @media(min-width: 600px){
    min-width: 270px;
    max-width: 340px;
  }
  @media(min-width: 768px){
    min-width: 340px;
    max-width: 383px;
  }
  @media(min-width: 992px){
    min-width: 265px;
    max-width: 345px;

  }
  &__img{

    &--1 {
    margin-bottom: 33px;
    }
    &--2 {
      margin-bottom: 29px;
    }
    &--3 {
      margin-bottom: 22px;
    }
    &--4 {
      margin-top: 30px;
      margin-bottom: 33px;
      @media(min-width: 992px){
        margin-top: 0;
      }
    }
    &--5 {
      margin-bottom: 28px;
    }
    &--6 {
      margin-bottom: 24px;
    }
  }

  &__text{

    color: #ffffff;
    @extend %fontLato;
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}

